body{
    background-color: #76b5ca;
}
main{
    width: 700px;
    margin: auto;
}
header{
    background-color: #add8e6;
    margin: auto;
}
header h1{
    text-align: center;
    color: #18495a;
    padding: 10px;
}
#menu{
    background-color: #89d0e7;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#menu li{
    float: left;
}
#menu li a{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #212449;
    transition: .5s;
}
#menu li a:hover{
    transition: .5s;
    background-color: #4a9ab4;
    color: #fff;
}
article{
    background-color: white;
    margin: auto;
}
ol{
    padding: 0;
    margin: 35px;
}
ol li span{
    float: right;
}
ol li{
    border-bottom: 1px solid black;
}
img{
    width: 100%;
}
h2, p{
    margin: auto 35px auto 20px;
}
section{
    text-align: center;
    padding: 10px;
}
#btt{
    text-decoration: none;
    background-color: #4197b4;
    color: #fff;
    border-radius: 5px;
    padding: 7px;
}
#btt:hover{
    transition: .5s;
    background-color: #174d5f;
}
footer{
    text-align: center;
    background-color: #add8e6;
    margin: auto;
}